.button {
  padding: 16px 30px;
  background-color: #fff;
  border: 2px solid #e6e3f1;
  font-size: 14px;
  font-weight: 600;
}

.button-border {
  border-radius: 8px;
}

.button-round {
  border-radius: 45px;
}

button:hover {
  background-color: #2f57ef;
  color: #fff;
}
