* {
  box-sizing: border-box;
}
.container {
  width: 1180px;
  background-color: #eff1ff;
  margin-left: auto;
  margin-right: auto;
}
.news-letter {
  padding: 100px 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.news-letter::before {
  content: "";
  background-image: url(dots.svg);
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.news-letter .content {
  width: 50%;
}
.news-letter .content .sub-title {
  background-color: #e8dffc;
  color: #b966e7;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 45px;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: inline-block;
}

.news-letter .content .title {
  color: #192335;
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 20px;
}
.news-letter .content .description {
  color: #6b7385;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
.news-letter .form {
  width: 45%;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}
.news-letter .form input {
  flex: 1;
  background-color: #ffffff;
  padding: 0 10px;
  outline: none;
  border: 0;
  font-size: 14px;
  color: #6b7385;
  height: 50px;
}
.news-letter .form button {
  background-color: #b966e7;
  color: #ffffff;
  border: 0;
  height: 50px;
  padding: 0 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.news-letter .form button:hover {
  background-color: #a04ecd;
}
.news-letter .form button i {
  margin-left: 5px;
}
