.product__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product__item {
  width: 30%;
  margin-bottom: 30px;
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.product__item .product__image {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 10px;
}
.product__item .product__title {
  margin-top: 10px;
  margin-bottom: 0;
}
